################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
*.vcxproj.user
/src/imgui.ini
/packages
